@font-face {
    font-family: "Intro";
    src: url("../style/fonts/Intro.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "NeutralFace";
    src: url("../style/fonts/NeutralFace.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PTSans-Regular";
    src: url("../style/fonts/PTSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.transbox{
    transition: 0.5s;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0%;
    left: 0%;
}
.ErrorWindow{
    transition: 0.5s;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0%;
    left: 0%;
}
.transboxActive{
    opacity: 100;
    background:rgba(14, 16, 20, 0.7);
    backdrop-filter: blur(3px);
    z-index: 1;
}
.ErrorWindowActive{
    opacity: 100;
    background:rgba(14, 16, 20, 0.7);
    backdrop-filter: blur(3px);
    z-index: 2;
}
body{
    font-family: "Intro";
}
.hide{
    display: none;
}
.contentChildWindow{
    background-color: aqua;
}
html{
    background-color: #263D42;
    color: #CCDBDC;
    text-align: center;
}
button:hover{ 
    background-color: #A6D5DA;
    transition: 0.5s;
    color: #263D42;
}
button,input{
    border: none;
    border-radius: 5px;
    color: #CCDBDC;
    font-family: "PTSans-Regular";
    margin: 0.5%;
    transition: 0.5s;
}
input{
    background-color: #8E6C88;
    padding: 1%;
}
input:hover{
    background-color: #879DB0;
    padding: 1%;
    color: #263D42;
}
button{
    height: 36px;
    background-color: #63C7B2;
    color: #263D42;
}
:focus-visible {
    outline:none;

}
input:focus-visible {
    outline:1px solid #63C7B2;
}
input:focus{
    background-color: #80CED7;
    transition: 0.5s;
    color: #263D42;
}
input:focus::placeholder{
    color: #263D42;
    transition: 0.5s;
}
input::placeholder {
    color: #CCDBDC;
}
table{
    width: 80%;
    margin-left: 10%;
}
table tr td input{
    width: 95%;
}
th input{
    width: 95%;
}
th button{
    width: 97%;
}